{% extends 'base.html.twig' %}

{% block title %}Ajout animal
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			{% if is_granted('ROLE_ADMIN') %}

				{% include "espace_admin/_adminnav.html.twig" %}

			{% elseif is_granted('ROLE_VETERINAIRE')%}

				{% include "espace_veto/_vetonav.html.twig" %}

			{% elseif is_granted('ROLE_EMPLOYE') %}

				{% include "espace_emp/_empnav.html.twig" %}
			{% endif %}


			<main class="col-9 border border-secondary text-secondary p-2">
				<h1>Ajouter un animal</h1>

				{{ form_start(animalForm) }}
				<p style="p-2">{{ form_row(animalForm.nom) }}</p>
				<p style="p-2">{{ form_row(animalForm.race) }}</p>
				<p style="p-2">{{ form_row(animalForm.habitat) }}</p>
				<p style="p-2">{{ form_row(animalForm.image) }}</p>

				<button class="btn btn-secondary text-primary" type=" submit">Ajouter</button>
				{{ form_end(animalForm) }}


			</main>
		</div>
	</div>


{% endblock %}
