{% extends 'base.html.twig' %}

{% block title %}Détails de l'animal
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			{% include "espace_admin/_adminnav.html.twig" %}

			<main class="col-9 border border-secondary text-secondary p-2">

				<h1>Détails de l'animal</h1>

				<p>
					<strong>Nom :</strong>
					{{ animal.nom }}</p>
				<p>
					<strong>Race :</strong>
					{{ animal.race }}</p>
				<p>
					<strong>Habitat :</strong>
					{{ animal.habitat.nom }}</p>

				{% if animal.image %}
					<img src="{{ asset('uploads/animal/' ~ animal.image) }}" alt="{{ animal.nom }}" style="max-width: 300px;">
				{% endif %}

				<a class="btn" href="{{ path('app_espace_admin_animaux') }}">Retour à la liste</a>


				<a class="btn" href="{{ path('app_animaux_edit', {'id':animal.id}) }}">modifier</a>

				<form method="post" action="{{ path('app_animaux_delete', {'id': animal.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet animal ?');">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ animal.id) }}">
					<button type="submit" class="btn btn-danger">Supprimer</button>
				</form>
			</main>

		</div>

	</div>
	<!-- Formulaire de suppression -->

{% endblock %}
