{% extends 'base.html.twig' %}

{% block title %}animaux liste
{% endblock %}


{% block body %}

	<div class="container text-tertiary">
		<div class="row">
			{% if is_granted('ROLE_ADMIN') %}

				{% include "espace_admin/_adminnav.html.twig" %}

			{% elseif is_granted('ROLE_VETERINAIRE')%}

				{% include "espace_veto/_vetonav.html.twig" %}

			{% elseif is_granted('ROLE_EMPLOYE') %}

				{% include "espace_emp/_empnav.html.twig" %}
			{% endif %}


			<main class="col-9 border border-secondary text-secondary p-2">

				<h1>liste des animaux</h1>

				<table class="table table-striped text-tertiary">
					<thead>
						<tr>
							<th scope="col">Nom</th>
							<th scope="col">Race</th>
							<th scope="col">Habitat</th>
							<th scope="col">Image</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for animal in animaux %}
							<tr>
								<td>{{animal.nom}}</td>
								<td>{{animal.race}}</td>
								<td>{{animal.habitat.nom}}</td>
								<td><img src="{{ asset('uploads/animal/mini/300x300-') ~ animal.image}}" alt="{{animal.nom}}" class="img-thumbnail"></td>
								<td>
									<a class="text-tertiary" href="{{ path('app_animaux_edit', {'id': animal.id}) }}">Modifier</a>
									<a class="text-tertiary" href="{{ path('app_animaux_show', {'id': animal.id}) }}">Voir</a>
								</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="6">Aucun enregistrement</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			</main>
		</div>
	</div>

{% endblock %}
