{% extends 'base.html.twig' %}

{% block title %}services
{% endblock %}


{% block body %}

	<div class="container text-tertiary">
		<div class="row">
			{% include "espace_admin/_adminnav.html.twig" %}

			<main class="col-9 border border-secondary text-secondary p-2">

				<h1>liste des services</h1>


				<table class="table table-striped text-tertiary">
					<thead>
						<tr>
							<th scope="col">Nom</th>
							<th scope="col">Description</th>
							<th scope="col">Image</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for service in services %}
							<tr>
								<td>{{service.nom}}</td>
								<td>{{service.description}}</td>
								<td><img src="{{ asset('uploads/services/') ~ service.image}}" alt="{{service.nom}}" style="width: 35%;"></td>
								<td>
									<a class="text-tertiary" href="{{ path('app_services_edit', {'id': service.id}) }}">Modifier</a>
									<a class="text-tertiary" href="{{ path('app_services_show', {'id': service.id}) }}">Voir</a>
								</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="6">Aucun enregistrement</td>
							</tr>

						{% endfor %}
					</tbody>
				</table>
			</main>
		</div>
	</div>

{% endblock %}
