{% extends 'base.html.twig' %}

{% block title %}Créer un compte
{% endblock %}

{% block body %}

	<div class="container contact bg-secondary text-primary w20">

		<h1>Créer un compte</h1>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		<p style="p-2">
			{{ form_row(registrationForm.username) }}</p>

		<p style="p-2">{{ form_row(registrationForm.nom) }}</p>

		<p style="p-2">{{ form_row(registrationForm.prenom) }}</p>

		<p style="p-2">{{ form_row(registrationForm.email) }}</p>

		<p style="p-2">{{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}</p>


		<button type="submit" class="btn btn-secondary text-primary">Enregistrer</button>

		{{ form_end(registrationForm) }}
	</div>

{% endblock %}
